@tailwind base;

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html {
  overflow-y: scroll;
}

@tailwind components;

@tailwind utilities;

.applicationcontainer{
  min-width: 300px;
}

/* Table */
th {
  @apply uppercase text-green;
}

th,
td {
  @apply px-4 py-2 border border-solid border-darkgrey;
}

th:first-child,
td:first-child,
th:last-child,
td:last-child {
  border: none;
}

tr,
th,
td {
  border-top: none;
  border-bottom: none;
}

tbody tr:nth-child(odd) {
  @apply bg-grey;
}

td:first-child {
  @apply text-green;
}

.pagination .pages span {
  border-left: 1px solid;
  @apply border-darkgrey;
}
.pagination .pages span:last-child {
  border-right: 1px solid;
}

@media screen and (max-width: 768px) {
  td:first-child {
    @apply text-black;
  }

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    @apply border border-darkgrey
  }

  td {
    padding-left: 50%;
    text-align: left;
    @apply relative border-0 border-b border-darkgrey whitespace-normal;
  }

  td:before {
    top: 6px;
    left: 6px;
    /* width: 45%; */
    /* padding-right: 10px; */
    text-align: left;

    @apply text-green absolute font-bold whitespace-no-wrap pr-1 w-1/2;
  }

  td:before {
    content: attr(data-title);
  }
}
