@tailwind base;

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@tailwind components;

@tailwind utilities;

/* Table */
th {
  @apply uppercase text-green;
}

th,
td {
  @apply px-4 py-2 border border-solid border-darkgrey;
}

th:first-child,
td:first-child,
th:last-child,
td:last-child {
  border: none;
}

tr,
th,
td {
  border-top: none;
  border-bottom: none;
}

tbody tr:nth-child(odd) {
  @apply bg-grey;
}

td:first-child {
  @apply text-green;
}

.pagination .pages span {
  border-left: 1px solid;
  @apply border-darkgrey;
}
.pagination .pages span:last-child {
  border-right: 1px solid;
}
